@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .heart {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
      no-repeat;
    background-size: cover;
    background-position: 0 0;
    cursor: pointer;
  }
  .heart.active {
    animation: fave-heart 1s steps(28);
    background-position: -1400px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1400px 0;
    }
  }
  /* Por defecto (pantallas grandes, muestra todo) */
  .gridMoviesContainer > *:nth-child(n + 8) {
    display: none;
  }

  /* Extra grande (xl:grid-cols-7 → oculta después del 7mo elemento) */
  @media (max-width: 1279px) {
    /* xl breakpoint */
    .gridMoviesContainer > *:nth-child(n + 6) {
      display: none;
    }
  }

  /* Grande (lg:grid-cols-5 → oculta después del 5to elemento) */
  @media (max-width: 1023px) {
    /* lg breakpoint */
    .gridMoviesContainer > *:nth-child(n + 5) {
      display: none;
    }
  }

  /* Mediano (md:grid-cols-4 → oculta después del 4to elemento) */
  @media (max-width: 767px) {
    /* md breakpoint */
    .gridMoviesContainer > *:nth-child(n + 4) {
      display: none;
    }
  }
  .shareContainer > button {
    padding: 1rem;
  }
}
